<div class="container centered">
<h2>Edit <%= @person.name %></h2>

<% if @person.errors.any? %>
  <h3>FIX THESE ERRORS: </h3>
    <% @person.errors.full_messages.each  do |error|%>
      <p class="error">* <%= error %></p>
    <% end %>
<% end %>

  <%= form_for(@person) do |f| %>
    <div class="form-group ">

      <%= f.text_field :name, autofocus: :true, placeholder: "Name"%>
    </div>
    <div class="form-group">

      <%= f.text_field :specialty, placeholder: "Area of expertise" %>
    </div>
    <div class="form-group">

      <%= f.text_field :email, style: "margin-bottom: 1em", placeholder: "Email address" %>
    </div>
    <%= f.submit "Update", class: "btn btn-primary", style: "margin-bottom: 1em" %>
  <% end %>


  <%= link_to "Back to people", "/people" %>
